<body>
    

<link rel="stylesheet" href="../../static/css/acercade.css">
<div class="texto">
    <h1>CiaoSoftware 2.0</h1>
    <br>
    <p>Programa de registro de Expedientes para Secretaría Privada - Jefatura de Policía.</p>
    <br>
    <p>CiaoSoftware 1.0 - Año 2007</p>
    <br>
    <p>CiaoSoftware 2.0 - Año 2023</p>
    <br>
    <br>
    <p1>Marcelo Gustavo Montiel</p1>
    <br>
    <p1>Analista Universitario de Sistemas</p1>
</div>
    
</body>
<img src="../../static/img/logobit0.png" alt="">
    
