<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu 2.0</title>
    <link rel="stylesheet" href="../../static/css/estilo.css">
    <link rel="icon" href="../../static/iconos/ciaosoftware.ico">
</head>
<body>
    <img src="../../static/img/logo.png"  alt="">
    <nav>        
        <ul>   
            <li><a href="#">Inicio       </a></li>
            <li><a href="#">Nuevo        </a></li>
            <li><a href="#">Editar       </a></li>
            <li><a href="#">Ver          </a></li>
            <li><a href="#">Imprimir     </a></li>
            <li><a href="#">Cerra Sesión </a></li>            
            <li><a href="#">Acerca de    </a></li>
        </ul>
    </nav>
</body>
</html>