<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../../static/css/style.css">
    <title> CiaoSoftware 2.0 </title>
</head>

<body>
    <div class="form-body">
        <img src="../../static/img/logo.png" alt="user-login">        	
        <h1>  Inciar Sesión</h1>
        <br>
        <input type="text" placeholder="Nombre de Usuario">
        <input type="password" placeholder="Contraseña">
        <button>Ingresar</button>
	    <p class="link"><a href="login.html">

    <div class="hijo">
        <p>Policía de Tucumán </p>
        <p>Jefatura de Policía X-UA-Compatible</p>
    </div>
        
    </div>

</body>
</html>